@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body,html{
     overflow-x: hidden;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 40px;
    color: #edf0f1;
    text-decoration: none;
}
nav{
    display: grid; 
	gap: 4rem; 
} 


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    width: 100%;
    background-color: #24252a;
}
.logo{
    cursor: pointer;
    width: 16%;
    height: 16%;
   
}
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    margin-right: 20px;
}

.nav_links li:last-child {
    margin-right: 0;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}
.nav_links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 25px;
    background-color: rgba(0,136, 169, 1) ;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0,136, 169, 1) ;
}
/* tryagain.css */
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    margin-right: 60px;
}

.nav_links li:last-child {
    margin: right 10px; ;
}
.main{
    width: 100vw;
    height: 100vh;
    background-image: url('./main_pagebannerbg.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center; 

}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;

}
.header-content h2{
    font-size: 4vmin;
}
.line{
   width: 300px;
   height: 4px;
   background: #fc036b;
   margin: 10px auto;
   border-radius: 5px;
}
.header-content h1{
    font-size: 10vmin;
    margin-top: 50px;
    margin-bottom: 30px;
    
}
.ctn{
    padding: 4px 10px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}
.main2{
    
        width: 80%;
        margin: 80px auto;
    }
   


.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(73, 73, 126);
}
.row{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
   
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.main2.row{
    margin-top: 50px;
}
h4{
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}
.para{
    color: #7c7c7c;
    padding: 0px 250px;
    font-size:40px;
}
.main2.ctn{
    margin-top: 30px;
} 
.explore{
    width: 100%;
    margin: 80px auto;
    background-image: url('./useful.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 80vh;
    align-items: center;
}
.heading h1{
    color: whitesmoke;
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 7vmin;
    padding: 5%
}
.heading.line{
    margin-bottom: 50px     ;
}
    

.heading{
    width: 60%;
    padding: 50px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.heading .par2{
    font-size: 40px;
    padding-left: 4%;
    color:white;
    text-align: left;
    font-weight:   1000;

}
.content-col{
    width:40%;
}
.image-col{
    width: 60%;
}
.heading.ctn{
    margin-top : 40px;
   
} 
.tours .row .col{
    width: 50%;
}
.tours.image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;

}
.image-gallery img{
    max-width: 500px;
    margin: 10px;      
}
.content-col h1{
    font-size: 8vmin;
    color: #484872;

}
.content-col p{
    padding: 50px; 
    margin: 50px auto;
    font-size: 35px;

}
.content-col.line{
    margin-left: -1px;

}
.footer{
    width: 100%;
    min-height: 200px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
}
.footer p{
    color: whitesmoke;
    margin: 40px auto;
    font-size: 30px;
}
.main2.col .p{
    text-align: center;
}