.meal-container {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    margin-left: 200px;
    width: 500px; /* Set a wider width for the container */
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
  }
  
  .meal-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .meal-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
    flex: 1;
  }
  
  .meal-container button {
    background-color: #ffc107;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .meal-container button:hover {
    background-color: #ffca28;
  }
  
  
  .meal-container:hover {
    transform: translateY(-5px); /* Move the container up slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
  }
  .modal-content {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal-header {
    background-color:#ffca28;
    color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .modal-title {
    font-size: 24px;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .modal-body h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .modal-body ol {
    margin-left: 20px;
  }
  
  .modal-body li {
    margin-bottom: 5px;
  }
  .modal-body ol {
    display: flex; /* Use flexbox */
    flex-direction: column; /* Arrange items vertically */
    margin-left: 0;
    padding-left: 0;
    list-style-type: none; /* Remove default numbering */
  }
  
  .modal-body li {
    margin-bottom: 10px; /* Increased spacing between instructions */
  }
  
  .modal-body li::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ffc107; /* Yellow color */
    margin-right: 10px; /* Increased spacing between circle and text */
  }
  
